<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopoiv.clinic.project.suggestion.mapper.SuggestionMapper">

    <select id="selectPageForQuery" resultType="com.dopoiv.clinic.project.suggestion.entity.Suggestion">
        SELECT ts.id,
               ts.user_id,
               ts.suggestion,
               ts.create_time,
               ts.deleted,
               tu.nickname,
               tu.real_name
        FROM suggestion AS ts
                 LEFT JOIN `user` AS tu ON tu.id = ts.user_id
        WHERE ts.deleted = 0
        <if test="params.nickname != null and params.nickname != ''">
            AND tu.nickname LIKE CONCAT('%', #{params.nickname}, '%')
        </if>
        <if test="params.realName != null and params.realName != ''">
            AND tu.real_name LIKE CONCAT('%', #{params.realName}, '%')
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND ts.create_time BETWEEN #{startDate} AND #{endDate}
        </if>
        ORDER BY ts.create_time DESC
    </select>
</mapper>
