<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopoiv.clinic.project.emergency.mapper.EmergencyMapper">

    <select id="selectPageForQuery" resultType="com.dopoiv.clinic.project.emergency.vo.UserEmergencyVo">
        SELECT te.id
        , tu.nickname
        , tu.real_name
        , tu.phone_number
        , te.message
        , te.location
        , te.latitude
        , te.longitude
        , te.remark
        , te.create_time
        , te.status
        FROM `emergency` AS te
        LEFT JOIN `user` AS tu ON tu.id = te.user_id
        WHERE tu.deleted = 0
        <if test="params.nickname != null and params.nickname != ''">
            AND nickname LIKE CONCAT('%', #{params.nickname}, '%')
        </if>
        <if test="params.realName != null and params.realName != ''">
            AND tu.real_name LIKE CONCAT('%', #{params.realName}, '%')
        </if>
        <if test="params.phoneNumber != null and params.phoneNumber != ''">
            AND tu.phone_number = #{params.phoneNumber}
        </if>
        <if test="params.status != null">
            AND te.status = #{params.status}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND DATE_FORMAT(te.create_time, '%Y-%m-%d') BETWEEN DATE_FORMAT(#{startDate}, '%Y-%m-%d') and
            DATE_FORMAT(#{endDate}, '%Y-%m-%d')
        </if>
        ORDER BY te.status, te.create_time
    </select>
</mapper>
