<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopoiv.clinic.project.admin.mapper.AdminMapper">

    <select id="getAdminList" resultType="com.dopoiv.clinic.project.admin.entity.Admin">
        SELECT ta.id
        , ta.`password`
        , tu.id AS user_id
        , tu.avatar_url
        , tu.nickname
        , tu.real_name
        , tu.gender
        , tu.phone_number
        , tu.last_visit_time
        , tu.status
        FROM admin AS ta
        LEFT JOIN `user` AS tu ON tu.id = ta.user_id
        WHERE tu.deleted = 0
        <if test="params.nickname != null and params.nickname != ''">
            AND nickname LIKE CONCAT('%', #{params.nickname}, '%')
        </if>
        <if test="params.realName != null and params.realName != ''">
            AND tu.real_name LIKE CONCAT('%', #{params.realName}, '%')
        </if>
        <if test="params.phoneNumber != null and params.phoneNumber != ''">
            AND tu.phone_number = #{params.phoneNumber}
        </if>
        <if test="params.status != null and params.status != ''">
            AND tu.status = #{params.status}
        </if>
    </select>
    <select id="selectAll" resultType="com.dopoiv.clinic.project.admin.entity.Admin">
        SELECT ta.id,
               ta.`password`,
               tu.id AS user_id,
               tu.avatar_url,
               tu.nickname,
               tu.real_name,
               tu.phone_number,
               tu.last_visit_time,
               tu.status
        FROM admin AS ta
                 LEFT JOIN `user` AS tu ON tu.id = ta.user_id
        WHERE tu.deleted = 0
    </select>
</mapper>
